// COLORS
$color-primary:  #DCA727;

$color-secondary: #3E3E3E;

$color-tertiary: #F8F8F8;

$color-grey-text: #313131;

$color-grey: #b6b6b6;

$color-white: #fff;
$color-black: #000;

$color-invalid: red;
$color-valid: green;


// FONT SIZES
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;