.flex-grid-half {
    display: block;

    @include respond(tab-land) {
        display: flex;
        justify-content: space-between;
    }

    @include respond(desktop) {
        margin: 0 auto;
    }
}

.align-items-center {
    @include respond(tab-land) {
        align-items: center;
    }
}

.reverse {
    flex-direction: column;

    @include respond(tab-land) {
        flex-direction: row-reverse;
    }
}

.col-1-of-2 {
    width: 100%;
    margin-bottom: 3rem;

    @include respond(tab-land) {
        width: 45%;
    }
}


.col-1-of-3 {
    width: 100%;
    margin-bottom: 3rem;

    @include respond(tab-land) {
        width: 30%;
    }
}

.col-2-of-3 {
    width: 100%;
    margin-bottom: 3rem;

    @include respond(tab-land) {
        width: 60%;
    }
}