.form {
    display: flex;
    flex-direction: column;
}

.btn {

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        position: relative;
        font-weight: 800;
        line-height: 2.4rem;
        letter-spacing: 1px;
        text-align: center;
        width: fit-content;
        transition: all 0.2s ease-in-out;
        padding: 1rem 3rem;



        //Change for the <button> element
        border: none;
        cursor: pointer;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
        }
    }

    // &__large {
    //     padding: 1.5rem 4rem;
    //     letter-spacing: 2px;
    //     font-size: $default-font-size;
    // }

    // &__small {
    //     padding: 1rem 3rem;
    //     letter-spacing: 2px;
    //     font-size: $default-font-size;
    // }

    // &__round {
    //     border-radius: 100px;
    // }

    &__secondary {
        background-color: $color-secondary;
        color: $color-white;
    }

    &__primary {
        background-color: $color-primary;
        color: $color-white;
    }
    
    &__white {
        background-color: $color-white;
        color: $color-primary;
    }

    &__animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }

}
