.section-projects {
    background-color: $color-primary;
    padding: 7rem 4rem 5rem 4rem;
}

.project {
    position: relative;
    cursor: pointer;


    &__shape {
        width: 100%;
        /* width of container */
        height: 20rem;
        /* height of container */
        overflow: hidden;
    }
}