@font-face {
    src: url(fonts/Optician-Sans.otf);
    font-family: Optician-Sans;
}

@font-face {
    font-family: Mazius-Display;
    src: url(fonts/MaziusDisplayRegular.otf);
    font-style: normal;
}

@font-face {
    font-family: Mazius-Display;
    src: url(fonts/MaziusDisplayExtraitalic.otf);
    font-style: oblique;
}

@font-face {
    font-family: Mazius-Display;
    src: url(fonts/MaziusDisplayItalic.otf);
    font-style: italic;
}

h1 {
    font-family: 'Mazius-Display', serif;
    font-size: 7.2rem;
    line-height: 1;
    font-weight: normal;
    color: $color-primary;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

h2 {
    font-family: 'Mazius-Display', serif;
    font-size: 5.4rem;
    line-height: 1.2;
    font-weight: normal;
    color: $color-primary;
    display: inline-block;
}


h3 {
    font-family: 'Optician-Sans', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 5px;
    font-weight: normal;
    color: $color-secondary;
    margin-bottom: 1rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5;
    color: $color-grey-text;
    text-decoration: none; 
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5;
    color: $color-grey-text;
    text-decoration: none; 
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}