.center {
    width: 100%;
    max-width: 114rem;
    margin-right: auto;
    margin-left: auto;
    text-align: left;

    @include respond(tab-land) {
        text-align: center;
    }
}

.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-margin-top-huge {
    margin-top: 10rem;
}

.u-margin-top-big {
    margin-top: 8rem;
}

.u-margin-top-xsmall {
    margin-top: 2rem;
}

.u-margin-top-small {
    margin-top: 4rem;
}

.u-margin-right {
    margin-right: 3.6rem;
}

.rwd-break {
    display: block;

    @include respond(tab-land) {
        display: none;
    }
}

.rwd-break-reverse {
    display: none;

    @include respond(tab-land) {
        display: block;
    }
}

.main-container {
    margin: 0 auto;
    max-width: 50rem;
    overflow: hidden;

    @include respond(tab-land) {
        max-width: 114rem;
        padding: 0 3rem;
    }
}

.container1 {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}