/****************** HERO ******************/

.section-hero {
    background-color: $color-tertiary;
    padding-top: 4rem;
    display: block;
    margin-top: 8rem;

    @include respond(tab-land) {
        padding-top: 0;
    }
}

.hero {
    margin: 0px auto;

    @include respond(tab-land) {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    &__left {
        padding: 0 4rem 6rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(tab-port) {
            height: 50rem;
        }

        @include respond(tab-land) {
            flex: 1 1 auto;
            padding: 0;
            height: 80vh;
            width: 50%;
        }

        @include respond(desktop) {
            height: 70vh;
        }

        &-content {
            @include respond(tab-land) {
                padding: 0 7rem;
            }

            @include respond(desktop) {
                padding: 0 5rem 0 25rem;
            }
        }
    }

    &__right {
        position: relative;
        width: 100%;
        height: 36rem;
        background-color: rgb(238, 219, 255);
        background-size: cover;
        background-image: url(../img/header.jpg);
        min-width: 32rem;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;

        @include respond(tab-port) {
            height: 50rem;
        }

        @include respond(tab-land) {
            flex: 1 1 auto;
            height: 80vh;
            width: 50%;
        }

        @include respond(desktop) {
            height: 70vh;
        }
    }
}

/****************** SUBHEADER ******************/


.section-primary {
    background-color: $color-primary;
    padding: 7rem 4rem;
    display: block;
}

/****************** FEATURES ******************/

.section-features {
    padding: 7rem 4rem 3rem 4rem;
    color: $color-white;
}

.feature-horizontal {
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;

    &__icon {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-top: 1rem;
    }
}

/****************** ABOUT ******************/

.round-top-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
}

/****************** SERVICES ******************/

.vert-col {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    text-align: center;
}

/****************** PORTFOLIO ******************/



/****************** CONTACT ******************/